/* Add a wrapper around your content */
.deliciously-clever-wrapper {
    display: flex;
    flex-direction: column;
}

.clever-header {
   
  
    background-color: #2d8144;
   
    
padding-left: 20px;
display: flex;
overflow: hidden;


    
}

.clever-header p{
    color: #FFF;


    font-size: 16px;
}

.clever-header h2{
    color: #FFF;
    font-size: 22px;

}
.clever-header img{
    margin-right: auto;
}
.food-clever-container{
    display: flex;
    flex-direction: column;
justify-content: space-between ;}
.clever-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.clever-content h2{
align-self: flex-start;}