/* Carousel.css */
*{
    color: black;
    text-align: left;
}
  
  .imageCard {
    width: 100%;
    height: 50%; /* Set the height to 50% of the card */
    object-fit:cover;
    border-top-left-radius: 15px; /* Apply border-radius to the top left corner of the image */
    border-top-right-radius: 15px; /* Apply border-radius to the top right corner of the image */
  }
  
  .cardContent {
    width: 100%;
    padding: 10px;
    box-sizing: border-box; /* Include padding in the height calculation */
  }

.greydescription{
color: grey;
}

/* Carousel.css */

.carousel-container {
    text-align: center;
  }
  
  .carousel-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .carousel-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }
  
