.filter-tags {
    display: flex;
    width: 100vw;
    overflow-x: scroll;
  }
  .filter-tag {
    padding: 1px 10px;
    border-radius: 20px;
    border: 1px solid #000;
    background-color: #FFF;
    cursor: pointer;
    margin:10px ;
  }
  .cards {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 80%;
    margin: 10px;
    padding: 10px;
    border: 2px solid #D9D9D9; 
    border-radius: 20px;
    height: auto;
   
}

  .cards p, .cards h2{
    text-align: center !important;
  }